td {
    border: 1px solid goldenrod;
    padding: 3px;
}

table {
    border: 2px solid black;
    padding: 3px;
    position: relative;
    top: 200px;
    background-color: rgb(170, 60, 170);
}

.purchase {
    position: relative;
    top: 220px;
    border: 1px solid brown;
    color: rgb(255, 240, 240);
    background-color: rgb(26, 121, 26);
}

body {
    background-image: url("../picture-assets/checkout-picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

a {
    border: 1px solid black;
    background-color: goldenrod;
    padding: 3px;
    position: relative;
    top: 300px;
}